/*New Components starts */
.text-white {
	color: #fff;
}
.panel-warningDeep{
	border-color: #eb9706;
}
.panel-warningDeep>.panel-heading {
	color: #fff;
	background-color: #eb9706;
	border-color: #eb9706;
}
.btn-facebook{
	background-color: #4968b8;
	color: #fff;
}
.btn-facebook:hover, .btn-facebook:focus{
	color: #fff !important;
}
.btn-cadetBlue{
	background-color: #5f9ea0;
	color: #fff;
}
.btn-cadetBlue:hover, .btn-cadetBlue:focus{
	background-color: #4a8b8d;
	color: #fff !important;
}
.lineHeight20{
	line-height: 20px;
}
.lineHeight25{
	line-height: 25px;
}
.fontSize14{
	font-size: 14px;
}
/* New Components ends */
.container {
	margin-bottom: 20px;
	margin-top: 90px;
	max-width: 700px;
}
.detectMineralContainer{
	margin-top: 138px;
}
.navbar-fixed-top{
	margin-bottom: 0;
}
.navbar-inverse .navbar-brand {
	color: #FFF; float:none !important; text-align:center;
}
.navbar-inverse .navbar-header{
	width: 220px; text-align: center;
	position: absolute;left: 50%;margin-left: -110px;
	margin-top: 6px;
}
.navbar-inverse .navbar-header a {
	padding:0 0;
	line-height: 26px;
}
@media (min-width: 480px) {
	.navbar-inverse .navbar-header{
		width: 334px;
		margin-left: -167px;
		margin-top: 15px
	}
}
/* Navbar Right, left button */
.navbar-default .navbar-nav>li>a {
	color: #fff;
}
.navbar-header {
	float: left;
}
.navbar-right {
	float: right!important;
	margin-top:10px;
}
.navbar-left {
	float: left!important;
	margin-top:10px;
}
@media (min-width: 768px) {
	.navbar-nav>li>a {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	
	.navbar-right {
		float: right!important;
		margin-top:10px;
	}
}
.navbar .btn {
	padding: 10px 14px;
}
.topFixedSubHeader {
	position: fixed; top: 56px; left: 0; right: 0; z-index: 20; border-bottom: solid 1px #ddd;
	background: #FFFFFF; padding-top: 18px; padding-bottom: 10px;
}
/* DetectPage> Prev/Next buttons, ListPage> Search button*/
.topFixedSubHeader a.btn-md, .topFixedSubHeader button.btn-md {
	padding: 10px 12px;
}
.searchBoxContainer .form-group{
	max-width: 620px; margin:0 auto;
}
.searchBoxContainer input.form-control{
	height: 42px; border-radius: 4px !important;
}
.searchBoxContainer .form-control-feedback {
	/*cross icon inside input*/
	line-height: 42px; height: 42px; width: 42px; 
	pointer-events: auto; cursor: pointer;
}
.landingContainer  .btn-group-lg>.btn, .landingContainer  .btn-lg {
	padding: 16px 16px;
}
.extraHeight{
	margin-top: 40px;
}
.extraHeight20{
	margin-top: 20px;
}
.extraHeight50{
	margin-top: 50px;
}
/* modal */
.modal-dialog {
	margin-top: 150px;
}
/******* landing.html start ******/
.landingContainer {
	margin-top:20px;
}
.landingContainer #detectButton .glyphicon{
	position: relative;
	top: 15px;
	left: 8px;
}
.landingContainer #detectButton .handSpecimenBlock{
	width:18px;
	height: 18px;
}
#exitHeaderButton {
	visibility: hidden;
}
#exitModal .modal-title {
	padding: 22px 15px;
}
#lastDetectedResult{
	/*Orange Warning button*/
	background-color: #edbe40;
	border-color: #daab2c;
}
/******* landing.html end ******/
.landingContainer p.extraMarginTopPara {
	margin-top: 25px;
}
.progress {
	height: 20px; margin-top: 11px; margin-bottom: 0px;
}
.progress-bar {
	font-size: 13px;
	line-height: 20px;
}
.topBackButton {
	margin-right: 8px;
}
.skipButton {
	margin-left: 8px;
}
/*Accordion Answer panel */
#answerAccordion .panel h4 label{
	font-size: 17px;
	text-transform: capitalize;
}
#answerAccordion .panel h4 label input[type=radio]{
	margin-right: 12px;
}
#answerAccordion .panel {
	margin-bottom: 0px;
	border-radius: 0px;
	border-width: 0 1px 0 1px;
}
#answerAccordion .panel:first-child, .panel:first-child>.panel-heading{ 
    border-top-width: 1px;
	border-top-left-radius: 4px; border-top-right-radius: 4px;
}
#answerAccordion .panel:last-child {
	border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;
}
#answerAccordion .panel-heading {
	padding: 0 0;
	border-radius: 0px;
}
#answerAccordion .panel-heading a {
	display: block; padding: 16px 20px; 
}
#answerAccordion .panel-collapse {
	border-bottom: 1px solid #f0ad4e;
}
#answerAccordion .panel.active {
	border-color: #f0ad4e;
}
#answerAccordion .panel.active>.panel-heading{
	/* color: #fff; background-color: #337ab7; border-color: #337ab7;*/
	color: #fff; background-color: #f0ad4e; border-color: #f0ad4e;
	/* color: #46b8da; background-color: #46b8da; border-color: #46b8da; */
}
#answerAccordion .panel.active>.panel-heading {
	border-top: 1px solid #f0ad4e;
}
#answerAccordion .panel .detectButton.show, .panel .nextButton.show{
	display: inline-block !Important;
}
#answerAccordion .panel .mayBeButton {
	margin-right: 20px;
}
/*Accordion mineralList page panel */
#mineralListBlock .panel-heading a, #resultBlock .panel-heading a  {
	display: block; padding: 16px 20px; font-size: 17px; font-weight: bold; text-transform: capitalize;
}
#mineralListBlock .panel-heading a:focus, #mineralListBlock .panel-heading a:hover, #resultBlock .panel-heading a:focus, #resultBlock .panel-heading a:hover{
	text-decoration: none;
}
#mineralListBlock .panel {
	margin-bottom: 8px;
}
#mineralListBlock .panel-heading, #resultBlock .panel-heading  {
	padding: 0 0;
}

/*Loader*/
#loader {
	position: absolute; top: 0; bottom: 0; left: 0; right: 0; display:none;
	background: #FFF; background-color: rgba(255,255,255,0.7); z-index: 10;
}
#loader p {
	margin-top:180px; text-align: center;
}
#loader a.btn {
	color: #d9534f;
}
#loader .glyphicon{
	-webkit-animation-name: rotate; 
    -webkit-animation-duration: 1.5s; 
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}
@-webkit-keyframes rotate {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}
/*Results page*/
.pageHeader {
	margin-top: 5px; margin-bottom: 20px;
}

#resultBlock .panel ul .badge{
	padding: 3px 4px;
	border-radius: 10px;
	background: #eb9706;
}
#resultBlock .panel ul  li, #mineralListBlock .panel ul  li {
	font-size: 17px;
}
#resultBlock .panel ul  li strong, #mineralListBlock .panel ul  li strong {
	display: inline-block; width: 180px;
}
@media (max-width: 479px) {
	#resultBlock .panel ul  li strong, #mineralListBlock .panel ul  li strong {
		width: 110px;
	}
}